body {
    font-family: Verdana;
    margin: 0px;
    overflow-x: hidden;
  }

header {
    background-color: lightseagreen;
    box-shadow: 0px 5px 5px silver;
    margin: 0px;    
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 0px;                   
    text-align: center;
    position: sticky;
    top: 0px;
    width: 100%;
    overflow: hidden;
  }

.tituloheader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-inline: 20px;
  }
  @media all and (max-widht:800px) {
    .tituloheader {
      justify-content: space-around;
    }
  }
  @media all and (max-width: 600px) {
    .tituloheader {
      flex-flow: column wrap;
      padding: 0;
    }
  }
.navegacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: lightseagreen;
  }
  
.navegacion a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
.navegacion a:hover {
    background: rgb(25, 141, 135);
  }
  
  @media all and (max-width: 800px) {
    .navegacion {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navegacion {
      flex-flow: column wrap;
      padding: 0;
    }
    .navegacion a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navegacion li:last-of-type a {
      border-bottom: none;
    }
  }

.container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
      display: flex;
      justify-content: space-evenly;
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-right: auto;
      margin-left: auto
  }
  
  @media (min-width:576px) {
  
      .container,
      .container-sm {
          max-width: 540px
      }
  }
  
  @media (min-width:768px) {
  
      .container,
      .container-md,
      .container-sm {
          max-width: 720px
      }
  }
  
  @media (min-width:992px) {
  
      .container,
      .container-lg,
      .container-md,
      .container-sm {
          max-width: 960px
      }
  }
  
  @media (min-width:1200px) {
  
      .container,
      .container-lg,
      .container-md,
      .container-sm,
      .container-xl {
          max-width: 1140px
      }
  }
  
  @media (min-width:1400px) {
  
      .container,
      .container-lg,
      .container-md,
      .container-sm,
      .container-xl,
      .container-xxl {
          max-width: 1320px
      }
  }

h1 {
    font-size: 24px;
    color:#FFF
  }

main {
    width: 80%;
    margin:auto;
  }

.carousel {
  z-index: -1;
}

div.galeria {
    margin: 5px;
    border: 1px solid #ccc;
    height: 200px;
    width: 300px;
  }
  
div.galeria:hover {
    border: 1px solid #777;
  }
  
div.galeria img {
    height: 200px;
  }

input[type=button] {
    background-color: #FFF;
    border: 1px solid #000;
    color: #000;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

input[type=button]:hover {
    background-color: #000;
    border: 1px solid #000;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

input:focus {
    background-color: rgb(222, 222, 222);
  }

textarea {
    width: 100%;
    height: 150px;
    resize: none;
  }
textarea:focus {
    background-color: rgb(222, 222, 222);
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

footer {
    position: fixed;
    color: #fff;
    background-color: #353535;
    margin: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
  }