
table {
    width: 100%;
    font-family: Verdana;
    border-collapse: collapse;
    color: rgb(19, 14, 14);
  }
  th, td {
    border: 1px solid rgb(19, 18, 18);
    padding: 8px;
  }  
  th {
    background-color: rgb(7, 238, 226);
  }


  